 <h1>Books</h1>
 <% disp.each do |a| %>
   <div id="<%= dom_id(a) %>">

<dl>   
<dt style="list-style-type:disc;"><Strong><%= a.title %></Strong></dt>
     <dd style="list-style-type:circle;"><Strong>Published By:</Strong><%= a.publisher %></dd>
     <dd style="list-style-type:circle;"><Strong>Publication Date:</Strong><%= a.publication_date.strftime( '%d, %B %Y' ) %></dd>
     <dd style="list-style-type:circle;"><Strong>ISDN #:</Strong><%= a.isdn %></dd>
     <dd style="list-style-type:circle;"><Strong>Type:</Strong><%= a.genre %></dd>
</dl>
</div>
<%end%>
