<h1> <%= reference.title %></h1>

<ul>
<p><Strong><%= reference.genre %></Strong></p>
<li><Strong>Date Published:</Strong><%= reference.publication_date.strftime("%d, %B %Y")%></li>
<li><Strong>Publisher:</Strong><%= reference.publisher %></li>
<li><Strong>ISDN:</Strong><%= reference.isdn %></li>
</ul>