<h1>Practice Question</h1>

<p>Which of the following is the Single Responsibility Principle?</p>


<ul>
<li>a) A class should haveonly one reason to change</li>
<li>b) Each developer on a team should have one main responsibility. </li>
<li>c) Every app will have one responsibility that is most important to user.</li>
</ul>

<%= link_to 'Profile Page', aboutMe_path %>

<h2>Practice questions </h2>
<p><%=@q%></p>

<ul>
    <%= genQuestion.each do |gq| %>
    <li><%= gq %></li>
    <% end %>
</ul>

<%= link_to 'home page' , mmorten_path%>
<%= link_to 'about', aboutMe_path%>
