<h1>Practice Question</h1>

<p>Which of the following is the Single Responsibility Principle?</p>


<ul>
<li>a) A class should have only one reason to change</li>
<li>b) Each developer on a team should have one main responsibility. </li>
<li>c) Every app will have one responsibility that is most important to user.</li>
</ul>

<%= link_to 'Profile Page', aboutMe_path %>

<h2>Practice questions </h2>
<p><%=@q%></p>

<ul>
    <% genQuestion.each do |gq| %>
    <li><%= gq %></li>
    <% end %>
</ul>

<p>Home<%= link_to 'Home page', mmorten_path %></p>
<p> Page <%= link_to 'About Me', aboutMe_path%> </p>
<p> Studend info <%= link_to 'Student information', studentinfo_path %></p>
<p> Fun - Pictures of Simpsons!!  <%= link_to 'Picture Chooser', picChooser_path %></p>